<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetSuite">

	<!--Always listeners should be added after suite name. In class name we should provide location 
of the class which contains the Extent Report Manager/ any other reporting tools used> -->
	<listeners>
		<listener class-name="api.utilities.ExtentReportManager" />
	</listeners>

	<test thread-count="5" name="PetTests">
		<classes>
			<!-- When you run the xml file, all the files in below location would get executed. Any number of new classes
can also be added in the below location> -->
			<!-- <class name="api.test.UserTests" /> -->
			<class name="api.test.UserTests2" />
			<!-- class name="api.test.DDTests"/> -->
		</classes>
	</test> <!-- PetTests -->
</suite> <!-- PetSuite -->